body{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

.main-div{
    width: 100vw;
}

.name, .email, .newPswd, .confirmPswd, .phoneNo, .pswd{
    padding: 15px 30px 20px ;
    background-color: transparent;
    border-color: #6a6868;
    color: #d2cccc;
    border-radius: 8px;
}

.name:hover, .email:hover, .newPswd:hover, .confirmPswd:hover, .phoneNo:hover, .pswd:hover{
    background-color: #d2cccc;
    border-color: #242424c3;
    color: #242424c3;
}

.updateBtn{
    padding: 10px 10px 15px;
    background-color: transparent;
    color: #d2cccc;
    border: 2px 2px;
    border-color: #6a6868;
    border-radius: 8px;
}

.updateBtn:hover{
    background-color: #d2cccc;
    color: #242424c3;
    border: 2px 2px;
}
